.fade-up{
  animation:fadeUp 1.1s ease forwards;
}

@keyframes fadeUp{
  from{
    opacity:0;
    transform:translateY(80px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}

.float{
  animation:float 6s ease-in-out infinite;
}

@keyframes float{
  0%,100%{ transform:translateY(0);}
  50%{ transform:translateY(-20px);}
}
