@import "tailwindcss";

body{
  background:#05060f;
  color:white;
  overflow-x:hidden;
}

.glow{
  text-shadow:0 0 25px #00f5ff;
}

.glass{
  backdrop-filter:blur(14px);
  background:rgba(255,255,255,.05);
  border:1px solid rgba(255,255,255,.15);
}

.custom-cursor{
  position:fixed;
  width:18px;
  height:18px;
  border:2px solid #00f5ff;
  border-radius:50%;
  pointer-events:none;
  transform:translate(-50%,-50%);
}